= form_for @assignment, :remote => true do |f|
  = f.text_field :name, :autofocus => true, :placeholder=>'Assignment name'
  = f.text_field :description, :placeholder => 'Description'
  = f.text_field :subject, :placeholder => 'Subject'
  = f.label 'Enter comma separated tags:'
  = text_field_tag :tags
  = f.submit 'Add Questions', :class => 'button small success'