%h3
  Log In

= form_tag '/login', :remote => true do
  = text_field_tag :email, nil, :autofocus => true, :placeholder => 'email'
  = password_field_tag :password, nil, :placeholder => 'password'
  = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button radius tiny alert')
  = submit_tag 'Enter', :class => 'button tiny radius info'
